body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

.header_body {
  border: 1px solid black; }

.header_top-links {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #f0f0ed; }
  .header_top-links .link-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: flex-end; }
    .header_top-links .link-container > div {
      width: 80px;
      margin: 10px 0;
      padding: 0 20px;
      border-left: 1px solid #777777; }
