body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

// header
.header_body {
  width: 100%;
}

.header_top-links {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #f0f0ed;
  .link-container {
    // width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    > div {
      width: 80px;
      margin: 10px 0;
      padding: 0 20px;
      border-left: 1px solid #777777;
    }
  }
}

.header_main {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  &-middle{
    display: inherit;
    justify-content: space-between;
    &-left, &-right {
      display: flex;
      > div {
        padding: 0 20px;
      }
    }
  }
}

// footer
.footer_body {
  display: flex;
  justify-content: space-around;
}

// loading 
.loading_body{
  text-align: center;
}